<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gravity</key>
		<real>1</real>
		<key>startx</key>
		<real>5</real>
		<key>starty</key>
		<real>2</real>
		<key>endx</key>
		<real>2</real>
		<key>endy</key>
		<real>13.5</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>9.75</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
			<dict>
				<key>width</key>
				<real>9</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>0.25</real>
			</dict>
			<dict>
				<key>width</key>
				<real>9</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>14.75</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>9</real>
				<key>y</key>
				<real>12</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>8</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>9</real>
				<key>y</key>
				<real>1</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>1</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gravity</key>
		<real>1</real>
		<key>startx</key>
		<real>5</real>
		<key>starty</key>
		<real>13</real>
		<key>endx</key>
		<real>5</real>
		<key>endy</key>
		<real>2</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>12</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>9.75</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>2</real>
				<key>y</key>
				<real>13</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>8</real>
				<key>y</key>
				<real>13</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>2</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>9</real>
				<key>y</key>
				<real>2</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gravity</key>
		<real>1</real>
		<key>startx</key>
		<real>5</real>
		<key>starty</key>
		<real>7</real>
		<key>endx</key>
		<real>5</real>
		<key>endy</key>
		<real>1</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>6</real>
			</dict>
			<dict>
				<key>width</key>
				<real>5</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>12</real>
			</dict>
			<dict>
				<key>width</key>
				<real>9</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>14.75</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>9.75</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>8.5</real>
				<key>y</key>
				<real>13.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>7</real>
				<key>y</key>
				<real>7</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>3</real>
				<key>y</key>
				<real>7</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>1</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>13.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>8.5</real>
				<key>y</key>
				<real>1</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>1</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gravity</key>
		<real>1</real>
		<key>startx</key>
		<real>5</real>
		<key>starty</key>
		<real>2</real>
		<key>endx</key>
		<real>5</real>
		<key>endy</key>
		<real>14</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>1</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>11</real>
			</dict>
			<dict>
				<key>width</key>
				<real>15</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>7.5</real>
			</dict>
			<dict>
				<key>width</key>
				<real>8</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>9.75</real>
				<key>y</key>
				<real>7</real>
			</dict>
			<dict>
				<key>width</key>
				<real>5</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>7</real>
				<key>y</key>
				<real>7</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>7.5</real>
				<key>y</key>
				<real>12</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>9</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>7.5</real>
				<key>y</key>
				<real>2</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>3</real>
				<key>y</key>
				<real>2</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>1</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gravity</key>
		<integer>0</integer>
		<key>startx</key>
		<real>5</real>
		<key>starty</key>
		<real>6.75</real>
		<key>endx</key>
		<real>5</real>
		<key>endy</key>
		<real>9</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>1</real>
			</dict>
			<dict>
				<key>width</key>
				<real>2</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>14.75</real>
			</dict>
			<dict>
				<key>width</key>
				<real>12</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>0.25</real>
				<key>y</key>
				<real>6</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>2.75</real>
				<key>y</key>
				<real>10</real>
			</dict>
			<dict>
				<key>width</key>
				<real>5</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>7.75</real>
			</dict>
			<dict>
				<key>width</key>
				<real>2</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>9</real>
				<key>y</key>
				<real>14.75</real>
			</dict>
			<dict>
				<key>width</key>
				<real>2</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>14.75</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>7.25</real>
				<key>y</key>
				<real>10</real>
			</dict>
			<dict>
				<key>width</key>
				<real>12</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>9.75</real>
				<key>y</key>
				<real>6</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>9</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>2</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>8.5</real>
				<key>y</key>
				<real>13.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>1</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>13.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>1</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>13.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1.5</real>
				<key>y</key>
				<real>3</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>8.5</real>
				<key>y</key>
				<real>9</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gravity</key>
		<real>1</real>
		<key>startx</key>
		<real>8.5</real>
		<key>starty</key>
		<real>14</real>
		<key>endx</key>
		<real>9</real>
		<key>endy</key>
		<real>1</real>
		<key>platforms</key>
		<array>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>4</real>
				<key>y</key>
				<real>13</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>8</real>
				<key>y</key>
				<real>13</real>
			</dict>
			<dict>
				<key>width</key>
				<real>10</real>
				<key>angle</key>
				<real>30</real>
				<key>x</key>
				<real>3</real>
				<key>y</key>
				<real>8</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>0</real>
				<key>x</key>
				<real>8</real>
				<key>y</key>
				<real>2.25</real>
			</dict>
			<dict>
				<key>width</key>
				<real>4</real>
				<key>angle</key>
				<real>90</real>
				<key>x</key>
				<real>2</real>
				<key>y</key>
				<real>4</real>
			</dict>
		</array>
		<key>switches</key>
		<array>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>6</real>
				<key>y</key>
				<real>14</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>1</real>
				<key>x</key>
				<real>3</real>
				<key>y</key>
				<real>14</real>
			</dict>
			<dict>
				<key>gravity</key>
				<integer>2</integer>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<real>10.5</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>1</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>8</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>2</real>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<real>6</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>5</real>
				<key>y</key>
				<real>3</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>3</real>
				<key>x</key>
				<real>8.5</real>
				<key>y</key>
				<real>12</real>
			</dict>
			<dict>
				<key>gravity</key>
				<real>0</real>
				<key>x</key>
				<real>9</real>
				<key>y</key>
				<real>3</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
