
SuperKoalio/proj.win32/.vs/SuperKoalio/v16/.suo
SuperKoalio/proj.win32/.vs/SuperKoalio/v16/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
*.db
*.lib
*.pdb
*.dll
*.exp
*.obj
*.recipe
*.exe
*.ilk
*.tlog
*.idb
*.ipch
*.txt
*.log
