<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,59},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,493},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,285},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,40},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>block_large_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,434},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>block_large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,434},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>block_large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,432},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>block_large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,430},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>btn_again_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_again_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,371},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_help_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,367},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_help_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,308},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,304},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_num_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,304},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_num_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,430},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_pause_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,463},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>btn_pause_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,394},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>btn_play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,241},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_reset_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,463},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>btn_reset_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,238},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>btn_start_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>btn_start_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,71},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,141},{166,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,96}}</string>
                <key>sourceSize</key>
                <string>{166,96}</string>
            </dict>
            <key>cap_supper.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,239},{116,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,67}}</string>
                <key>sourceSize</key>
                <string>{116,67}</string>
            </dict>
            <key>cap_where.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{116,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,67}}</string>
                <key>sourceSize</key>
                <string>{116,67}</string>
            </dict>
            <key>igloo_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,461},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>igloo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,239},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>intro_igloo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,137}}</string>
                <key>sourceSize</key>
                <string>{340,137}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{283,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,98}}</string>
                <key>sourceSize</key>
                <string>{283,98}</string>
            </dict>
            <key>player_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,186},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>player_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,134},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,356},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,394},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>switch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,356},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>switch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:830f67e11f0fd350a4540ae9749aa44f$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
