<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>408</integer>
		<key>height</key>
		<integer>136</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>d_pad_normal.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>d_pad_horizontal.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>d_pad_diagonal.png</key>
		<dict>
			<key>x</key>
			<integer>272</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>136</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>136</integer>
			<key>originalHeight</key>
			<integer>136</integer>
		</dict>
		<key>a_button_down.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>a_button_up.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>b_button_down.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>b_button_up.png</key>
		<dict>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>x_button_down.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>x_button_up.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>y_button_down.png</key>
		<dict>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>y_button_up.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>button_spacer.png</key>
		<dict>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
	</dict>
</dict>
</plist>
