<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gunman_darkblue_grenade.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {18, 22}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{18, 22}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 124}, {18, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_down_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 12}, {54, 114}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{54, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 2}, {54, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_down_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 12}, {54, 116}}</string>
			<key>spriteOffset</key>
			<string>{-3, -6}</string>
			<key>spriteSize</key>
			<string>{54, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 120}, {54, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_down_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{23, 12}, {76, 110}}</string>
			<key>spriteOffset</key>
			<string>{-3, -3}</string>
			<key>spriteSize</key>
			<string>{76, 110}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 358}, {76, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_down_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 12}, {66, 106}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{66, 106}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 118}, {66, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 9}, {74, 116}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{74, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 2}, {74, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_right_01_no_arm.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 10}, {72, 114}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{72, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 362}, {72, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 9}, {76, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{76, 112}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 244}, {76, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_right_02_no_arm.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 10}, {76, 108}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{76, 108}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 364}, {76, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_up_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {92, 120}}</string>
			<key>spriteOffset</key>
			<string>{18, -0}</string>
			<key>spriteSize</key>
			<string>{92, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 242}, {92, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_up_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {92, 118}}</string>
			<key>spriteOffset</key>
			<string>{18, 1}</string>
			<key>spriteSize</key>
			<string>{92, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 124}, {92, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_up_right_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 8}, {70, 110}}</string>
			<key>spriteOffset</key>
			<string>{4, 1}</string>
			<key>spriteSize</key>
			<string>{70, 110}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 236}, {70, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_run_up_right_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {120, 118}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{120, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {120, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_down.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 9}, {58, 116}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{58, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 326}, {58, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_down_right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 12}, {66, 114}}</string>
			<key>spriteOffset</key>
			<string>{2, -5}</string>
			<key>spriteSize</key>
			<string>{66, 114}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 120}, {66, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {70, 120}}</string>
			<key>spriteOffset</key>
			<string>{6, -4}</string>
			<key>spriteSize</key>
			<string>{70, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 2}, {70, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_right_arm.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 9}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{10, 35}</string>
			<key>spriteSize</key>
			<string>{62, 40}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 284}, {62, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_right_arm_empty.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 9}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{10, 35}</string>
			<key>spriteSize</key>
			<string>{62, 40}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 242}, {62, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_right_no_arm.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 10}, {70, 116}}</string>
			<key>spriteOffset</key>
			<string>{6, -4}</string>
			<key>spriteSize</key>
			<string>{70, 116}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 244}, {70, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_up.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {54, 120}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{54, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 2}, {54, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gunman_darkblue_stand_up_right.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {120, 118}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{120, 118}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 122}, {120, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
