<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1604,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1604,1000}}</string>
                <key>sourceSize</key>
                <string>{1604,1000}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>btn_howto_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,81},{431,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,77}}</string>
                <key>sourceSize</key>
                <string>{431,77}</string>
            </dict>
            <key>btn_howto_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,2},{431,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,77}}</string>
                <key>sourceSize</key>
                <string>{431,77}</string>
            </dict>
            <key>btn_new_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,239},{337,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,77}}</string>
                <key>sourceSize</key>
                <string>{337,77}</string>
            </dict>
            <key>btn_new_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,160},{337,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,77}}</string>
                <key>sourceSize</key>
                <string>{337,77}</string>
            </dict>
            <key>building_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1074},{257,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,257}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1777},{257,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,257}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>building_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1004},{257,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,257}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>building_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1776},{256,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,257}}</string>
                <key>sourceSize</key>
                <string>{256,257}</string>
            </dict>
            <key>chimney.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,242},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,318},{334,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,184}}</string>
                <key>sourceSize</key>
                <string>{334,184}</string>
            </dict>
            <key>font.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1263},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,300},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>jam_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,884},{308,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,188}}</string>
                <key>sourceSize</key>
                <string>{308,188}</string>
            </dict>
            <key>jam_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,694},{308,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,188}}</string>
                <key>sourceSize</key>
                <string>{308,188}</string>
            </dict>
            <key>jam_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,504},{308,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,188}}</string>
                <key>sourceSize</key>
                <string>{308,188}</string>
            </dict>
            <key>label_tryagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1074},{838,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{838,246}}</string>
                <key>sourceSize</key>
                <string>{838,246}</string>
            </dict>
            <key>lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1074},{574,752}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,752}}</string>
                <key>sourceSize</key>
                <string>{574,752}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{924,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{924,285}}</string>
                <key>sourceSize</key>
                <string>{924,285}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1333},{184,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{184,252}</string>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1522},{184,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{184,252}</string>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1522},{184,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{184,252}</string>
            </dict>
            <key>player_float.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1828},{184,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,252}}</string>
                <key>sourceSize</key>
                <string>{184,252}</string>
            </dict>
            <key>puff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,160},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>puff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>puff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1828},{200,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,194}</string>
            </dict>
            <key>puff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1828},{210,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,194}}</string>
                <key>sourceSize</key>
                <string>{210,194}</string>
            </dict>
            <key>roof_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1004},{257,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,137}}</string>
                <key>sourceSize</key>
                <string>{257,137}</string>
            </dict>
            <key>roof_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1263},{257,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,135}}</string>
                <key>sourceSize</key>
                <string>{257,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578c5ceb929cef00310e627b2905ccec$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
