<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,500},{220,230}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,109},{220,230}}</string>
                <key>sourceSize</key>
                <string>{264,348}</string>
            </dict>
            <key>slice_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,172},{220,228}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{220,228}}</string>
                <key>sourceSize</key>
                <string>{222,348}</string>
            </dict>
            <key>slice_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,732},{219,226}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,113},{219,226}}</string>
                <key>sourceSize</key>
                <string>{243,348}</string>
            </dict>
            <key>slice_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,654},{248,252}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,87},{248,252}}</string>
                <key>sourceSize</key>
                <string>{252,348}</string>
            </dict>
            <key>slice_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,320}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{212,320}}</string>
                <key>sourceSize</key>
                <string>{234,348}</string>
            </dict>
            <key>slice_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{193,328}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{193,328}}</string>
                <key>sourceSize</key>
                <string>{219,348}</string>
            </dict>
            <key>slice_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{194,328}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{194,328}}</string>
                <key>sourceSize</key>
                <string>{234,348}</string>
            </dict>
            <key>zballoonBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,324},{174,356}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{174,356}}</string>
                <key>sourceSize</key>
                <string>{176,358}</string>
            </dict>
            <key>zballoonRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{168,350}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{168,350}}</string>
                <key>sourceSize</key>
                <string>{184,356}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hulkpunch.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:478fd448a975aef7f5e89a4fe974a08d$</string>
            <key>textureFileName</key>
            <string>hulkpunch.png</string>
        </dict>
    </dict>
</plist>
