<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,964},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,750},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,363},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,297},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>block_large_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,530},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>block_large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,475},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>block_large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,242},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>block_large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{133,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,53}}</string>
                <key>sourceSize</key>
                <string>{133,53}</string>
            </dict>
            <key>btn_again_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,557},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_again_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,512},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_help_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,446},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_help_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,407},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,302},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,452},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_num_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,750},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>btn_num_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,875},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>btn_pause_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,931},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>btn_pause_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,931},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>btn_play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,347},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,242},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_reset_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,808},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>btn_reset_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,741},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>btn_start_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,197},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>btn_start_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,197},{247,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,103}}</string>
                <key>sourceSize</key>
                <string>{247,103}</string>
            </dict>
            <key>cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{330,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,193}}</string>
                <key>sourceSize</key>
                <string>{330,193}</string>
            </dict>
            <key>cap_supper.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,242},{231,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,133}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>cap_where.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{231,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,133}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>igloo_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,662},{131,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,86}}</string>
                <key>sourceSize</key>
                <string>{131,86}</string>
            </dict>
            <key>igloo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,585},{131,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,86}}</string>
                <key>sourceSize</key>
                <string>{131,86}</string>
            </dict>
            <key>intro_igloo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,238}}</string>
                <key>sourceSize</key>
                <string>{662,238}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{558,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,190}}</string>
                <key>sourceSize</key>
                <string>{558,190}</string>
            </dict>
            <key>player_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,844},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>player_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,662},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,665},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,589},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>switch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,513},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>switch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,437},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4421c8b30b6a2b4f7ef7b6378cbd2a2a$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
