<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>block_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,395},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,264},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,133},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>block_large_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1707},{261,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,100}}</string>
                <key>sourceSize</key>
                <string>{261,100}</string>
            </dict>
            <key>block_large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1605},{261,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,100}}</string>
                <key>sourceSize</key>
                <string>{261,100}</string>
            </dict>
            <key>block_large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1503},{261,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,100}}</string>
                <key>sourceSize</key>
                <string>{261,100}</string>
            </dict>
            <key>block_large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1393},{261,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,100}}</string>
                <key>sourceSize</key>
                <string>{261,100}</string>
            </dict>
            <key>btn_again_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,946},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_again_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,851},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_help_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_help_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_menu_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_menu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,765},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_num_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1486},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>btn_num_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,851},{159,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,158}}</string>
                <key>sourceSize</key>
                <string>{159,158}</string>
            </dict>
            <key>btn_pause_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1855},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>btn_pause_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1855},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>btn_play_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,577},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,470},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_reset_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1039},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>btn_reset_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1039},{129,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,131}}</string>
                <key>sourceSize</key>
                <string>{129,131}</string>
            </dict>
            <key>btn_start_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,564},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>btn_start_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,389},{474,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,186}}</string>
                <key>sourceSize</key>
                <string>{474,186}</string>
            </dict>
            <key>cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{660,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,385}}</string>
                <key>sourceSize</key>
                <string>{660,385}</string>
            </dict>
            <key>cap_supper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1040},{461,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,266}}</string>
                <key>sourceSize</key>
                <string>{461,266}</string>
            </dict>
            <key>cap_where.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,953},{461,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,266}}</string>
                <key>sourceSize</key>
                <string>{461,266}</string>
            </dict>
            <key>igloo_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1221},{263,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,170}}</string>
                <key>sourceSize</key>
                <string>{263,170}</string>
            </dict>
            <key>igloo_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1221},{263,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,170}}</string>
                <key>sourceSize</key>
                <string>{263,170}</string>
            </dict>
            <key>intro_igloo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1310,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1310,466}}</string>
                <key>sourceSize</key>
                <string>{1310,466}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{1113,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1113,379}}</string>
                <key>sourceSize</key>
                <string>{1113,379}</string>
            </dict>
            <key>player_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1011},{157,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,169}}</string>
                <key>sourceSize</key>
                <string>{157,169}</string>
            </dict>
            <key>player_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,389},{173,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,177}}</string>
                <key>sourceSize</key>
                <string>{173,177}</string>
            </dict>
            <key>switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1707},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1330},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>switch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1182},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>switch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1495},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6223a5bbc89a0fcee32d762231225a1$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
